// Place all the styles related to the Smartphones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

form div {
  padding: 1em;
  width: 30%;

  select, input{
    width: 100%;
    height: 2em;
  }

  input {
    margin-top: 1em;
  }
}

form div#submit {
  width: 10%;
  padding: 0;
}
